<h1>My card</h1>
<p>card workssssss!</p>
<button>Botão</button>

<ul>
  <button (click)="adicionar()">Adicionar</button>
  <br />
  <button (click)="removerButton()">Remover</button>
  <br />
  <br />
  <li *ngFor="let p of produtos; let i = index" (click)="remover(i)">
    {{ i }} - {{ p }}
  </li>
</ul>

<div [ngSwitch]="menuType">
  <div *ngSwitchDefault="">
    <li>editar perfil</li>
    <li>adicionar cartão</li>
  </div>
  <div *ngSwitchCase="'user'">
    <li>editar perfil</li>
    <li>adicionar cartão</li>
  </div>
  <div *ngSwitchCase="'admin'">
    <li>editar perfil</li>
    <li>adicionar cartão</li>
    <li>gerenciar usuários</li>
  </div>
  <div *ngSwitchCase="'superUser'">
    <li>editar perfil</li>
    <li>adicionar cartão</li>
    <li>gerenciar usuários</li>
    <li>gerenciar admins</li>
  </div>
</div>
