div{
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    margin: auto;
    /* position: fixed; */
    /* right: 0; */
    /* bottom: 0; */
    /* transform: scale(0.75); */
    /* transform: scale(1.1, 0.75); */
    /* transform: rotate(30deg); */
    /* transform: rotate(-30deg); */
    transform: skew(20deg, 10deg);
}