* {
  margin: auto;
  padding: 0;
}
.container__content {
  border: 2px solid white;
  width: 500px;
  height: 100%;
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.content__cover {
  border: 2px solid green;
}

.content__cover > img {
  border: 5px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description > p {
  color: grey;
  margin: 20px;
  text-align: justify;
}
