* {
  padding: 0;
  margin: 0;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 330px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: 'header header' 'nav main' 'footer footer';
}

@media(max-width: 700px) {
  body {
      grid-template-columns: 1fr;
      grid-template-rows: 80px 80px 1fr 100px;
      grid-template-areas: 'header' 'nav' 'main' 'footer';
  }
}