<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__img">
      <img src="{{ smallCardPhoto }}" alt="" />
    </div>
    <div class="small-card__title">
      <h1>
        <a href="#">{{ smallCardTitle }}</a>
      </h1>
    </div>
    <!-- <div class="small-card__description">
      <p>
        Voluptate quasi corporis nemo omnis commodi eius, accusantium sapiente.
        Voluptas ducimus ab culpa magnam saepe repellendus voluptatibus.
      </p>
    </div> -->
  </div>

  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
