<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="../../../assets/img/placeholder-img.png"
      cardTitle="Novo Big Card Adicionado"
      cardDescription="Conteúdo da descrição do Card aqui, Conteúdo da descrição do Card aqui, Conteúdo da descrição do Card aqui, Conteúdo da descrição do Card aqui, Conteúdo da descrição do Card aqui, Conteúdo da descrição do Card aqui."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      smallCardPhoto="../../../assets/img/placeholder-img.png"
      smallCardTitle="Novo Small Card Adicionado"
    ></app-small-card>
    <app-small-card
      smallCardPhoto="../../../assets/img/placeholder-img.png"
      smallCardTitle="Novo Small Card Adicionado"
    ></app-small-card>
    <app-small-card
      smallCardPhoto="../../../assets/img/placeholder-img.png"
      smallCardTitle="Novo Small Card Adicionado"
    ></app-small-card>
  </div>
</div>
