.container{
    /* width: 800px; */
    height: 800px;
    background-color: #CCC;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 100px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}
.item{
    background-color: #0000FF;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}